<div id="<%= dom_id business %>">
  <p>
    <strong>Business name:</strong>
    <%= business.business_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= business.category %>
  </p>

  <p>
    <strong>One liner:</strong>
    <%= business.one_liner %>
  </p>

  <p>
    <strong>Business email:</strong>
    <%= business.business_email %>
  </p>

  <p>
    <strong>Business phone:</strong>
    <%= business.business_phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= business.description %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= business.logo_url %>
  </p>

  <p>
    <strong>Shop online:</strong>
    <%= business.shop_online %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= business.website %>
  </p>

</div>
