<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div>
    <%= form.label :business_name, style: "display: block" %>
    <%= form.text_field :business_name, placeholder: "LOJO Undies" %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, ['Skincare','Furniture','Leatherwork','Clothing','Food','Other'] %>
  </div>

<div>
    <%= form.label :one_liner, style: "display: block" %>
    <%= form.text_field :one_liner, placeholder: "Breathable Undies, design, cut, and sewn in BC!" %>
  </div>

  <div>
    <%= form.label :business_email, style: "display: block" %>
    <%= form.text_field :business_email, placeholder: "info@lojoundies.com" %>
  </div>

  <div>
    <%= form.label :business_phone, style: "display: block" %>
    <%= form.text_field :business_phone, placeholder: "250-867-5309" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, placeholder: "Enter a longer description, origins, mission, etc" %>
  </div>

  <div>
    <%= form.label :logo_url, style: "display: block" %>
    <%= form.text_field :logo_url, placeholder: "https://cdn.shopify.com/s/files/1/0601/1122/5029/files/LOGO-LOJO-01_180x.png?v=1636309319" %>
  </div>

  <div>
    <%= form.label :spotlight_photo, style: "display: block" %>
    <%= form.text_field :spotlight_photo, placeholder:"Link your fave product photo" %>
  </div>

  <div>
    <%= form.label :shop_online, style: "display: block" %>
    <%= form.check_box :shop_online %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website, placeholder: "lojoundies.com/shop" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>

