<form>
<div class="form-group">
<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="form-group">
    <%= form.label :business_name, style: "display: block" %>
    <%= form.text_field :business_name %>
  </div>

  <div class="form-group">
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, ['Skincare','Furniture','Leatherwork','Clothing','Food','Other'] %>
  </div>

  <div class="form-group">
    <%= form.label :one_liner, style: "display: block" %>
    <%= form.text_field :one_liner %>
  </div>

  <div class="form-group">
    <%= form.label :business_email, style: "display: block" %>
    <%= form.text_field :business_email %>
  </div>

  <div class="form-group">
    <%= form.label :business_phone, style: "display: block" %>
    <%= form.text_field :business_phone %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-group">
    <%= form.label :logo_url, style: "display: block" %>
    <%= form.text_field :logo_url %>
  </div>

  <div class="form-group">
    <%= form.label :shop_online, style: "display: block" %>
    <%= form.check_box :shop_online %>
  </div>

  <div class="form-group">
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>

  <div class="form-group">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
<form>
