


<div class="jumbotron">
  <h1 class="display-5">Spotlight on: <strong><span class="text-secondary"><%= @spotlight.first.business_name %> </span></strong> </h1>
  <div class="container-sm clearfix">
  
  <% if (@spotlight.first.spotlight_photo) %>
  <img class="card-img-top col-md-6 float-md-start mb-3 ms-md-3 mx-3" src="<%= @spotlight.first.spotlight_photo %>"
style="max-width:300px" alt="Card image cap">
<% else %>
 <img class="card-img-top col-md-6 float-md-start mb-3 ms-md-3 mx-3" src="<%= @spotlight.first.logo_url %>"
style="max-width:300px" alt="Card image cap">
<% end %>



<div class="container justify-center">
<div class="container">
  <p class="lead "><%= @spotlight.first.description.truncate(300) %></p>
     <%= link_to "Learn More", @spotlight_path, class:"btn btn-dark btn-lg" %>
    </div>
 </div>   
</div>
  <hr class="my-4">
 
</div>
<br />
<br />
<br />
