<p style="color: green"><%= notice %></p>

<h1>Businesses</h1>

<div id="businesses">
  <% @businesses.each do |business| %>
    

    <div class="card text-center" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
     <h5 class="card-title"><%= business.business_name %></h5>
    <p class="card-text"> <%=business.one_liner%></p>

      <%= link_to "More info", business, class:"btn btn-dark" %>
  </div>
</div>
    <p>
    </p>
  <% end %>
</div>

<%= link_to "New business", new_business_path %>


