
<p style="color: green"><%= notice %></p>
<div class="container">

<% if %>
<%= render "spotlight", business: @business %>
<% end %>

<%= search_form_for @q do |f| %>

  <%= f.label :business_name_or_description_or_category_cont %>
  <%= f.search_field :business_name_or_description_or_category_cont %>
  <%= f.submit %>
<% end %>


<p> <%= @spotlight.first.business_name %> </p>
<h1>Nanaimo Businesses</h1>
  <span> Sort by:  </span>
    <span><%= sort_link(@q, :category, "Category", default_order: :asc) %></span> <span> |  </span>
     <span><%= sort_link(@q, :business_name, "Business Name", default_order: :asc) %> </span>
     <span> |  </span> <span><%= sort_link(@q, :likes, "Number of Likes", default_order: :desc) %></span>
    


<div class="businesses container-fluid ">
  <div class="row row-cols-12 row-cols-md-6 row-cols-lg-4 justify-content-center">
  <% @businesses.each do |business| %>
    

    <div class="card text-center" style="width: 18rem;">
  <img class="card-img-top img-thumbnail" src="<%= business.logo_url %>" width="25px"alt="Card image cap">
  <div class="card-body">
     <h5 class="card-title"><%= business.business_name %></h5>
    <div class=" card-text p-3 mb-2 bg-secondary text-white"><%=business.category%></div>
    <p class="card-text"> <%=business.one_liner%> <p> <strong>Liked by:</strong> <%= business.likes.count %> <p></p>

      <%= link_to "More info", business, class:"btn btn-dark" %>
  </div>
</div>
    
  <% end %>
</div>
</div>
</div>





