<p style="color: green"><%= notice %></p>


<div class="container">
<div class ="container mt-5 text-center">
<br />

<h3><%= @business.business_name  %> </h3>
<br />

<img src="<%=@business.logo_url%>" width="200">
<br />
<br />



<div class="container clearfix border">
  <div class="row">
    <div class="col-5">

     <div class="row border">
    <div class="col-3"><strong>Category:</strong> </div>
    <div class="col-9"><%= @business.category %></div>
  </div>

    <div class="row border">
    <div class="col-3"><strong>One-liner:</strong></div>
    <div class="col-9"><%= @business.one_liner %></div>
  </div>

  <div class="row border">
    <div class="col-3"><strong>Email</strong></div>
    <div class="col-9"><%= @business.business_email %></div>
  </div>


  <div class="row border">
    <div class="col-3"><strong>Phone:</strong></div>
    <div class="col-9"><%= @business.business_phone %></div>
  </div>


    </div>
    <div class="col-7"><strong>More about <%= @business.business_name  %> <br /> <br /> </strong> <%= @business.description %></div>

  </div>
</div>




<br />
<% if (@business.shop_online)  %>
 <%= link_to 'Shop Online', (@business.website), class: 'btn btn-dark' %>
<%  else %>
<p> Contact to Order </p>
<%  end %>

<br />
<br />
 <small>Liked by: <%= @business.likes.count %> users</small>
<div class="container">
<small>
  <% if @like.present? %>
      <%= button_to "Liked âœ…", like_path(@like), method: :delete, class: 'btn btn-outline-success btn-sm' %>
    <% else %>
      <%= button_to "ðŸ‘ Like", business_likes_path(@business), method: :post, class: 'btn btn-outline-primary' %>
    <% end %>
</small>
</div>

</div>




<div>
<% if can? :crud, @business %>
  <%= link_to "Edit this Business", edit_business_path(@business), class: 'btn btn-outline-dark' %> 
<% end %>
<% if current_user == @business.user %>
  <%= button_to "Delete this business", @business, method: :delete, class: 'btn btn-outline-danger' %>
<%end %>
</div>


