
<div class="container">
  <div class="badge bg-secondary text-wrap text-uppercase" style="width: 9rem;">
      <%=@business.category%>
      <br />
  </div>
  <div class="container text-center">
    <% if(@business.logo_url)%>
      <img src="<%=@business.logo_url%>" width="300" >
      <br />
      <br />
    <% end%>
<h1 class="text-secondary"><strong> <%=  @business.business_name %> </strong></h1>
<small> Business Owner:  <%= @business.user.full_name  %> </small>
<% if (@business.likes.count > 0) %>
<br />
 <small>Liked by: <%= @business.likes.count %> users</small>
 
<% end %>
  </div>
<div class ="container mt-5 text-left">
<div class="container">
<small>
  <% if @like.present? %>
      <%= button_to "Liked âœ”ï¸", like_path(@like), method: :delete, class: 'btn btn-outline-secondary btn-sm' %>
    <% else %>
      <%= button_to "ðŸ‘ Like", business_likes_path(@business), method: :post, class: 'btn btn-outline-primary' %>
    <% end %>
</small>
</div>
 


<div class="container">
  <div>
    <div>
 
  
<br />
<br />

    </div>
    
    <div class="shadow p-3 mb-5 bg-bodyrounded"> 
    <strong>More about <span class="text-capitalize"><%= @business.business_name  %> </span> <br /> <br /> </strong> <%= @business.description %>
    
    <div class="text-capitalize"> <br /> <strong>Category:</strong> <%= @business.category %></div>
    <div class="text-capitalize"> <br /> <strong>One-liner:</strong> <%= @business.one_liner %></div>
    <div class="text-lowercase"> <br /> <strong>Email:</strong> <%= @business.business_email %></div>
    <div> <br /> <strong>Phone:</strong> <%= @business.business_phone %></div>
    </div>
  </div>
</div>



  <% if (@business.shop_online)  %>
  <%= link_to 'Shop Online', (@business.website), class: 'btn btn-dark' %>
  <%  else %>
  <p> Contact to Order </p>
  <%  end %>


<br />
<br />

</div>




<div>
<% if can? :crud, @business %>
  <%= link_to "Edit this Business", edit_business_path(@business), class: 'btn btn-outline-dark' %> 
<% end %>
<% if current_user == @business.user %>
  <%= button_to "Delete this business", @business, method: :delete, class: 'btn btn-outline-danger' %>
<%end %>
</div>


