<div id="<%= dom_id classified %>">
  <p>
    <strong>Title:</strong>
    <%= classified.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= classified.category %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= classified.contact_info %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= classified.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= classified.description %>
  </p>

</div>
