<p style="color: green"><%= notice %></p>

<div class="container">
<h1>Classifieds</h1>


<%= search_form_for @q do |f| %>

  <%= f.label :title_or_description_or_category_cont %>
  <%= f.search_field :title_or_description_or_category_cont %>
  <%= f.submit %>
<% end %>



  <span> Sort by:  </span>
    <span><%= sort_link(@q, :category, "Category", default_order: :asc) %></span> <span> |  </span>
     <span><%= sort_link(@q, :title, "Alphabetical", default_order: :asc) %> </span>
  




<div class="classfieds container-fluid ">
  <div class="row row-cols-12 row-cols-md-6 row-cols-lg-4 justify-content-center">
  <% @classifieds.each do |classfied| %>
    

    <div class="card text-center" style="width: 18rem;">

    <% if (classfied.image_url) %>
  <img class="card-img-top img-thumbnail" src="<%= classfied.image_url %>" width="25px"alt="Card image cap">
  <% end %>

  <div class="card-body">
     <h5 class="card-title"><%= classfied.title %></h5>
     <div class=" card-text p-3 mb-2 bg-secondary text-white"><%=classfied.category%></div>
   
    <p class="card-text"> <%=classfied.description.truncate(50)%> </p>

      <%= link_to "View this ad", classfied, class:"btn btn-outline-dark" %>
  </div>
</div>
    
  <% end %>
</div>
</div>
</div>



