<div class="container">
<h1>Classifieds</h1>


<%= search_form_for @q do |f| %>

  <% f.label :title_or_description_or_category_cont %>
  <%= f.search_field :title_or_description_or_category_cont %>
  <%= f.submit class: 'btn btn-dark' %>
<% end %>



  <span> Sort by:  </span>
    <span><%= sort_link(@q, :category, "Category", default_order: :asc) %></span> <span> |  </span>
     <span><%= sort_link(@q, :title, "Alphabetical", default_order: :asc) %> </span>
  
  <hr />




<div class="classfieds container-fluid ">
  <div class="row row-cols-12 row-cols-md-6 row-cols-lg-4 justify-content-center">
  <% @classifieds.each do |classified| %>
    

    <div class="card text-center" style="width: 18rem;">
      <div class="badge bg-secondary text-wrap text-uppercase" style="width: 9rem;">
         <%=classified.category%>
      </div>

    <% if (classified.image_url) %>
  <img class="card-img-top img-thumbnail" src="<%= classified.image_url %>" width="25px"alt="Card image cap">
  <% end %>

  <div class="card-body">
     <h5 class="card-title"><%= classified.title %></h5>
   
    <p class="card-text"> <%=classified.description.truncate(200)%> </p>

      <%= link_to "View this ad", classified, class:"btn btn-outline-dark" %>
  </div>
</div>
    
  <% end %>
</div>
</div>
</div>



