<p style="color: green"><%= notice %></p>


<div class="container">
<div class ="container mt-5 text-left">
<br />

<h3> <%= @classified.title  %> </h3>
<small> Posted by:  <%= @classified.user.full_name  %> </small>
  <br />
  <br />
  <div class="badge bg-secondary text-wrap text-uppercase" style="width: 9rem;">
      <%=@classified.category%>
  </div>
<br />



<% if(@classified.image_url)%>
  <img src="<%=@classified.image_url%>" width="200">
  <br />
  <br />
<% end%>


 


<div class="container">
  <div>
    <div>
 
  
<br />
<br />

    </div>
    <div class="shadow p-3 mb-5 bg-body rounded"> <%= @classified.description %> --
  <%=@classified.user.first_name%>
    
    <div> <strong>To reply to this ad:</strong> <%= @classified.contact_info %></div>
    </div>
  </div>
</div>


<div>
<br />
<br />
  <%= link_to "Back to Classifieds", classifieds_path, class: "btn btn-dark" %>
<br />
<br />
</div>

<div>
  <% if can? :crud, @classified %>
    <%= link_to "Edit this Ad", edit_classified_path(@classified), class: 'btn btn-outline-dark' %> 
  <% end %>
  <% if current_user == @classified.user %>
    <%= button_to "Delete this Ad", @classified, method: :delete, class: 'btn btn-outline-danger' %>
  <%end %>
</div>