<div class="container">
<p style="color: green"><%= notice %></p>

  <h1>Upcoming Markets</h1>

  <br />

<%= link_to "New market", new_market_path, class:"float-right btn btn-dark" %>
 <br />
  <small> Check out the calendar below for upcoming farmers markets, craft fairs, and more! </small>
<br />
<br />
<%= month_calendar(events: @markets) do |date, markets| %>
  <%= date.day %>

  <% markets.each do |market| %>
    <div>
      <%= link_to market.title, market %>
    </div>
  <% end %>
<% end %>
</div>





