<!DOCTYPE html>
<html>
  <head>
    <title>LocalBusinessDirectory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand bg-dark justify-content-between ">
  <a class="navbar-brand" href="/">Handmade Nanaimo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       
<%= link_to "Home", root_path, class: "nav-item nav-link" %>
 <%= link_to "Upcoming Markets", markets_path, class: "nav-item nav-link" %>
        
  <% if user_signed_in? %>
        <%= link_to "Add your business", new_business_path, class: "nav-item nav-link" %>
        <%= button_to "Logout", session_path, method: :delete,
            data: {confirm: "are you sure you want to log out?"}, class: 'btn btn-default nav-link'%>
  <% else %>
        <%= link_to "Login", new_session_path, class: "nav-item nav-link" %> 
        <%= link_to "Sign Up", new_user_path, class: "nav-item nav-link" %>
    <% end %>
  </div>



    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
